
    .heading{ 
        font-size: 30px;
        font-weight: bold;
        color: #6439ff;
        margin-left: 500px;
    }
    .btn {
        background-color: white;
            border-radius: 10px;
            padding: 15px 10px;
            text-align: center;
            font-weight: bold;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-color: #6439ff;
        color: #6439ff;
           
    
    }